@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Grandstander:ital,wght@0,400;0,700;1,400;1,700&family=Mynerve&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    line-height: 1.4;
    font-family: Roboto, Monospace, Sans-serif  ;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(187, 184, 183);
    font-size: 17px;
}
h1{
    font-size: 1.8rem;
    border-radius: 10%;
    text-align: center;
    background-color: black;
    color: white;
    margin:40px;
    

}
 #div1{
    background-color: grey;
    margin: 40px;
    border-radius: 10%;




 }
 
 li{
    text-align: left;
    
 }
 #div2{
    background-color:rgb(96, 187, 160);
    margin: 40px;
    border-radius: 10%;
    display: block;
   
 }

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    text-align: center;
    
}
footer a{
    color:rgb(4, 61, 54);
    text-decoration:none;


}


@media only screen and (max-width:600px){
    body{
        font-size: 12px;
        
    }
    form{
        overflow: hidden;
    }
    h1, #div1{
        margin:20px
    }
    #div2{
        margin: 10px;
    }
 
}    

    
    

